.gradle/
.idea/
.settings/
**/.settings/
.classpath
**/.classpath/
.gitignore
.project
.project/
**/.project
spy.log
**/spy.log
**/target/
**/build/
**/classes/
**/net.authorize.aim.log
classes
bin
.config.py